.body{
margin: 0;
width: 100%;
height: 100%;
}
.portfolio {
    padding: 80px 20px;
    height: 100%;
    background-position: 100%;
   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #efeff3;
    text-align: center;
  }
  .portfolio-item h4 {
    margin: 0;
    font-size: 14px;
    color: #777;
  }
  
  .project-summary {
    font-style: italic;
    font-size: 13px;
    margin: 10px 0;
    color: #444;
  }
  
  .portfolio-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .portfolio-item {
    background-image: url("../../assets/8248942847c2f92153014a8bd428b217.jpg");
    background-position: 100%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    /* font-size: large; */
    padding: 20px 20px;

    font-size: 15px;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: scale(1.03);
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .portfolio-item h3 {
    margin: 15px 0;
    font-size: 18px;
    color: #333;
  }
  .project-description {
    list-style: none;
    text-align: left;
    font-family: Cursive;

    font-size: 15px;
    color: #f7f1f1;
    line-height: 1.5;
  }
  
  .project-description li::before {
    content: "➤ ";
    filter: drop-shadow(1px 1px 20px white );
    font-weight: bold;
  }
  .title{
    font-family: Cursive;
    font-size: 30px;
    color: #f7f1f1;

  

  }
  .company{
    color: #f7f1f1 !important;
    font-family: Cursive;
    text-align: left;

  }
  .section-title{
    font-family: Cursive;

  }